<nav class="main-nav overlay clearfix">
    <ul class="nav-effect">
        <li><a class="home" href="/" data-hover="New Products">New Products</a></li>
        <li><a class="nerdy" href="/tag/nerdy" data-hover="Nerdy">Nerdy</a></li>
        <li><a class="nice" href="/tag/nice" data-hover="Nice">Nice</a></li>
        <li><a class="loo" href="/tag/loo" data-hover="From The Loo">From The Loo</a></li>
        <li><a class="under" href="/tag/under" data-hover="Under $20">Under $20</a></li>
        <li><a class="icon-feed no-anim" href="{{@blog.url}}/rss/"><span class="hidden">RSS</span></a></li>
    </ul>
</nav>
